# this is a prototype of the new Espacent in OPS API in YAML format
swagger: '2.0'
info:
  title: OPS Espacenet Services API
  description: New Espacenet OPS hosted services
  version: "3.3"
# the domain of the service
host: ops.epo.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /3.3
paths:
  /moses/{path}:
    get:
      summary: Proxy all moses GET requests
      description: The Moses endpoint acts like transparent proxy proviting authorization only facilities and returns information from Moses exactly the same way it presents there.
      produces:
        - application/json
      parameters:
        - name: path
          in: path
          description: Any Moses path parameter
          required: true
          type: string
          format: string
        - name: query
          in: query
          description: Any Moses query parameter
          required: false
          type: string
          format: string 
        - name: header
          in: header
          description: Any Moses header parameter
          required: false
          type: string
          format: string           
      tags:
        - Moses
      responses:
        200:
          description: A response
          schema:
            type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Proxy all moses POST requests
      description: The Moses endpoint acts like transparent proxy proviting authorization only facilities and returns information from Moses exactly the same way it presents there.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: path
          in: path
          description: Any Moses path parameter
          required: true
          type: string
          format: string
        - name: query
          in: query
          description: Any Moses query parameter
          required: false
          type: string
          format: string 
        - name: header
          in: header
          description: Any Moses header parameter
          required: false
          type: string
          format: string  
        - name: body
          in: body
          description: Any Moses post payload
          required: true
          schema:
            type: string
          
      tags:
        - Moses
      responses:
        200:
          description: A response
          schema:
            type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'            
definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
