# this is a prototype of the new Espacent in OPS API in YAML format
swagger: '2.0'
info:
  title: OPS Espacenet Services API
  description: New Espacenet OPS hosted services
  version: "3.3"
# the domain of the service
host: ops-t.internal.epo.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /3.2/rest-services
produces:
  - application/json
  - text/plain
  - image/tiff
  - image/png
  - application/pdf
  - application/zip   
  - application/octet-stream
paths:
  /images/{path}:
    get:
      summary: Proxy all moses GET requests
      description: The Moses endpoint acts like transparent proxy proviting authorization only facilities and returns information from Moses exactly the same way it presents there.
      parameters:
        - name: path
          in: path
          description: Any Moses path parameter
          required: true
          type: string
          format: string
        - name: query
          in: query
          description: Any Moses query parameter
          required: false
          type: string
          format: string 
        - name: header
          in: header
          description: Any Moses header parameter
          required: false
          type: string
          format: string           
      tags:
        - Images
        - Proxy
      responses:
        200:
          description: A response
          schema:
            type: string
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'            
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'            
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'            
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'  
        503:
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Error'              
    post:
      summary: Proxy all moses POST requests
      description: The Moses endpoint acts like transparent proxy proviting authorization only facilities and returns information from Moses exactly the same way it presents there.
      consumes:
        - application/json
      parameters:
        - name: path
          in: path
          description: Any Moses path parameter
          required: true
          type: string
          format: string
        - name: query
          in: query
          description: Any Moses query parameter
          required: false
          type: string
          format: string 
        - name: header
          in: header
          description: Any Moses header parameter
          required: false
          type: string
          format: string  
        - name: body
          in: body
          description: Any Moses post payload
          required: true
          schema:
            type: string
          
      tags:
        - Moses
        - Proxy
      responses:
        200:
          description: A response
          schema:
            type: string
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'            
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'            
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'            
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'  
        503:
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Error'              
definitions:
  Error:
    type: string