# this is a prototype of the new Espacent in OPS API in YAML format
swagger: '2.0'
info:
  title: OPS Services API
  description: Open Patent Services
  version: "3.2.4"
# the domain of the service
host: ops.epo.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /3.2/rest-services
paths:
  /published-data/search:
    get:
      summary: Bibliographic data search service
      description: Bibliographic data search service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: Range
          in: query
          description: Range of elements were requested
          required: true
          type: string
          format: string
          default: 1-25
        - name: q
          in: query
          description: Search query
          required: true
          type: string
          format: string
          default: ti=plastic
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/biblio:
    get:
      summary: Bibliographic data retrieval service
      description: Bibliographic data retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/biblio:
    post:
      summary: Bibliographic data retrieval service
      description: Bibliographic data retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/abstract:
    get:
      summary: Publications abstract service
      description: Publications abstract service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/abstract:
    post:
      summary: Publications abstract service
      description: Publications abstract service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/full-cycle:
    get:
      summary: Publications full cycle service
      description: Publications full cycle service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/full-cycle:
    post:
      summary: Publications full cycle service
      description: Publications full cycle service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/fulltext:
    get:
      summary: Fulltext inquiry service
      description: Fulltext inquiry service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/fulltext:
    post:
      summary: Fulltext inquiry service
      description: Fulltext inquiry service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/description:
    get:
      summary: Description retrieval service
      description: Description retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/description:
    post:
      summary: Description retrieval service
      description: Description retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/claims:
    get:
      summary: Claims retrieval service
      description: Claims retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/claims:
    post:
      summary: Claims retrieval service
      description: Claims retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/equivalents:
    get:
      summary: Equivalents retrieval service
      description: Equivalents retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/equivalents:
    post:
      summary: Equivalents retrieval service
      description: Equivalents retrieval service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/{number}/images:
    get:
      summary: Images inquiry service
      description: Images inquiry service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: docdb
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP.1000000.A1
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/{type}/{format}/images:
    post:
      summary: Images inquiry service
      description: Images inquiry service
      tags:
        - Published
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: docdb
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/images/{image-id}:
    get:
      summary: Images retrieval service
      description: Images retrieval service
      tags:
        - Published
      produces: 
        - application/pdf
        - application/tiff
        - image/png
        - image/tiff
      parameters: 
        - name: image-id
          in: path
          description: Image Id
          required: true
          type: string
          format: string
          default: EP/1000000/A1/fullimage
        - name: Range
          in: query
          description: Page number
          required: true
          type: integer
          format: string
          default: 1
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /published-data/images:
    post:
      summary: Images retrieval service
      description: Images retrieval service
      tags:
        - Published
      produces: 
        - application/pdf
        - application/tiff
        - image/png
        - image/tiff
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: Range
          in: query
          description: Page number
          required: true
          type: integer
          format: string
          default: 1
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /family/{type}/{format}/{number}:
    get:
      summary: Family retrieval service
      description: Family retrieval service
      tags:
        - Family
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /family/{type}/{format}:
    post:
      summary: Family retrieval service
      description: Family retrieval service
      tags:
        - Family
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /family/{type}/{format}/{number}/biblio:
    get:
      summary: Family + biblio retrieval service
      description: Family + biblio retrieval service
      tags:
        - Family
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /family/{type}/{format}/biblio:
    post:
      summary: Family + biblio retrieval service
      description: Family + biblio retrieval service
      tags:
        - Family
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /family/{type}/{format}/{number}/legal:
    get:
      summary: Family + biblio retrieval service
      description: Family + biblio retrieval service
      tags:
        - Family
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /family/{type}/{format}/legal:
    post:
      summary: Family + biblio retrieval service
      description: Family + biblio retrieval service
      tags:
        - Family
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /legal/{type}/{format}/{number}:
    get:
      summary: Legal data retrieval service
      description: Legal data retrieval service
      tags:
        - Legal
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /legal/{type}/{format}:
    post:
      summary: Legal data retrieval service
      description: Legal data retrieval service
      tags:
        - Legal
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, priority, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [docdb, epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/search:
    get:
      summary: Register search service
      description: Register search service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: Range
          in: query
          description: Range of elements were requested, e.g. 1-20
          required: true
          type: string
          format: string
          default: 1-25
        - name: q
          in: query
          description: Search query
          required: true
          type: string
          format: string
          default: ti=plastic
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/{number}/biblio:
    get:
      summary: Register retrieval service
      description: Register retrieval service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/biblio:
    post:
      summary: Register retrieval service
      description: Register retrieval service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/{number}/events:
    get:
      summary: Register events service
      description: Register events service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/events:
    post:
      summary: Register events service
      description: Register events service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/{number}/procedural-steps:
    get:
      summary: Register procedural steps service
      description: Register procedural steps service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/procedural-steps:
    post:
      summary: Register procedural steps service
      description: Register procedural steps service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/{number}/upp:
    get:
      summary: Register unitary patent service
      description: Register unitary patent service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: EP1000000
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /register/{type}/{format}/upp:
    post:
      summary: Register unitary patent service
      description: Register unitary patent service
      tags:
        - Register
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: publication
          enum: [application, publication]
        - name: format
          in: path
          description: Reference format
          required: true
          type: string
          format: string
          default: epodoc
          enum: [epodoc]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /classification/cpc/{class}:
    get:
      summary: Classification schema service
      description: Classification schema service
      tags:
        - Classification
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: class
          in: path
          description: CPC class name
          required: true
          type: string
          format: string
          default: A01B1/00
        - name: ancestors
          in: query
          description: Ancestors flag
          required: true
          type: boolean
          format: string
          enum: [false, true]
        - name: navigation
          in: query
          description: Navigation flag
          required: true
          type: boolean
          format: string
          enum: [false, true]
        - name: depth
          in: query
          description: Classification tree traversing depth
          required: true
          type: string
          format: string
          enum: [0, 1, 2, 3, all]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /classification/cpc:
    post:
      summary: Classification schema service
      description: Classification schema service
      tags:
        - Classification
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /classification/cpc/media/{media-name}:
    get:
      summary: Classification media retrieval service
      description: Classification media retrieval service
      tags:
        - Classification
      produces: 
        - image/gif
      parameters: 
        - name: media-name
          in: path
          description: CPC media resource name
          required: true
          type: string
          format: string
          default: 1000.gif
        - name: attachment
          in: query
          description: Attachment/inline content disposition indicator. Inline is a default value.
          required: true
          type: boolean
          format: string
          enum: [false, true]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /classification/cpc/search:
    get:
      summary: Classification statistics search service
      description: Classification statistics search service
      tags:
        - Classification
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: q
          in: query
          description: Search query
          required: true
          type: string
          format: string
          default: plastic
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /classification/map/{input-format}/{class}/{output-format}:
    get:
      summary: Classification mapping service
      description: Classification mapping service
      tags:
        - Classification
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: input-format
          in: path
          description: Input classification conversion format
          required: true
          type: string
          format: string
          default: ecla
          enum: [cpc, ecla]
        - name: class
          in: path
          description: some description
          required: true
          type: string
          format: string
          default: A01B1/00
        - name: output-format
          in: path
          description: Output classification conversion format
          required: true
          type: string
          format: string
          default: cpc
          enum: [cpc, ecla, ipc]
        - name: additional
          in: query
          description: Invention/Additional resolution indicator. Invention is default value.
          required: true
          type: boolean
          format: string
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /number-service/{type}/{input-format}/{number}/{output-format}:
    get:
      summary: Number service
      description: Number service
      tags:
        - Number
      produces: 
        - application/javascript
        - application/json
        - application/xml
      parameters: 
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: application
          enum: [application, priority, publication]
        - name: input-format
          in: path
          description: Input reference format
          required: true
          type: string
          format: string
          default: original
          enum: [docdb, original]
        - name: number
          in: path
          description: Reference number
          required: true
          type: string
          format: string
          default: US.(05/948,554).19781004
        - name: output-format
          in: path
          description: Output reference format
          required: true
          type: string
          format: string
          default: docdb
          enum: [docdb, epodoc, original]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

  /number-service/{type}/{input-format}/{output-format}:
    post:
      summary: Number service
      description: Number service
      tags:
        - Number
      produces: 
        - application/javascript
        - application/json
        - application/xml
      consumes: 
        - text/plain
      parameters: 
        - name: body
          in: body
          description: Request payload
          required: true
          schema:
            $ref: '#/definitions/Body'
        - name: type
          in: path
          description: Reference type
          required: true
          type: string
          format: string
          default: application
          enum: [application, priority, publication]
        - name: input-format
          in: path
          description: Input reference format
          required: true
          type: string
          format: string
          default: original
          enum: [docdb, epodoc, original]
        - name: output-format
          in: path
          description: Output reference format
          required: true
          type: string
          format: string
          default: docdb
          enum: [docdb, epodoc, original]
      responses: 
        200: 
          description: some description
          schema: 
            type: string
        default: 
          description: Error
          schema: 
            $ref: '#/definitions/Error'

definitions:
  Body:
    type: array
    items:
      type: string
        
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string

    xml:
      name: fault